// Global color scheme
$primary-blue: #0a4595;
$dark-gray: #333;
$med-gray: #dedede;
$light-gray: #eee;
$secondary-blue: #0099d8;
$green: rgba(97, 175, 95, 0.4);
$yellow: rgb(255, 240, 80);
$red: #f25c05;

// mixins
@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin matrixBorder {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
}

a {
	color: inherit;
}

section {
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	background-color: $primary-blue;
	color: #fff;
	text-align: center;
	padding: 7px;
	h1 {
		font-weight: 400;
	}
	img {
		width: 40px;
		height: 40px;
		display: block;
		margin: 0 7px;
	}
}

p {
	text-align: center;
	font-size: 1.1rem;
}

.matrix {
	padding: 5px 15px;
	background-color: #fff;
}

// matrix ////////////////////////////////////////////
.matrix-header {
	@include flexCenter();
	font-weight: 700;
	.field-name {
		border: none;
	}
	div:nth-child(8) {
		margin-right: 2%;
	}
}

.header-item {
	width: 7%;
	text-align: center;
	padding: 10px 0;
}

.criteria-header-item {
	width: 13%;
	height: 40px;
	text-align: center;
}

.matrix-row {
	height: 45px;
	@include flexCenter();
	div:nth-child(8) {
		margin-right: 2%;
	}
}

.matrix-row:nth-of-type(1) {
	@include flexCenter();
	div:nth-child(8) {
		margin-right: 2%;
	}
	.field-name {
		border-top: 2px solid $light-gray;
	}
}

.criteria-item {
	width: 13%;
	height: 100%;
	@include flexCenter();
}

.field-name {
	font-weight: 700;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid $light-gray;
}

.forecast-item {
	width: 7%;
	height: 100%;
	@include flexCenter();
}

// color classes for matrix //////////////////////////////
.green {
	background-color: $green;
	@include matrixBorder();
}

.yellow {
	background-color: $yellow;
	@include matrixBorder();
}

.red {
	background-color: $red;
	@include matrixBorder();
	color: #fff;
}

// Footer /////////////////////////
footer {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	line-height: 40px;
	div {
		margin: 0 20px;
	}
}
